<%
	var contacts = data.models;
	var length = contacts.length;
	var attr;
	var name;
	var fullName;

if(length > 0) { 
		_.each(data.models, function each(contact) {
			attr = contact.attributes;
			name = attr.username || attr.name;
			fullName = attr.first_name + " " + (attr.middle_name || "") + " " + attr.last_name;
	%>
		<li class="clearfix">
			<div class="pull-left pad-med">
				<a href="<%= attr.link %>" title="<%= fullName %>">
					<span class="sn-icon"><%= attr.provider %></span>
					<% if(attr.picture) { %>
					<img class="round-corners" src="<%= attr.picture %>" />
					<% } else { %>
					<span class="round-corners avatar <%= attr.gender %>" />
					<% } %>
				</a>
			</div>
			<div class="pull-left pad-med">
				<a href="<%= attr.link %>" target="_blank" title="<%= fullName %>"><strong class="username"><%= name %></strong></a>
				<em class="blk"><%= fullName %></em>
				<a class="btn btn-mini btn-info mrg-t-med" href="#">View More</a>
			</div>
		</li>
	<% }); %>
<% } else { %>
	<li class="clearfix"><div class="pull-left pad-large">No results found.</div></li>
<% } %>

